.header {
  // background: palevioletred;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 2px solid #444444;
  @media screen and (max-width: 400px) {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    &__link {
      margin: 0 auto;
      margin-top: 0;
    }
  }
  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    background: #8bbbff;
    border: 2px solid #444444;
    color: #444444;
    padding: 9px;
    border-radius: 4px;
    box-shadow: 4px 4px 0 #444444;
  }
  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-top: 25px;
    color: #252525;
    padding: 9px;
    border-radius: 4px;
    @media screen and (max-width: 400px) {
      margin: 0 auto;
      margin-top: 0;
    }
    span {
      // font-family: 'Nunito';
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
      padding-right: 10px;
      @media screen and (max-width: 400px) {
        font-size: 1rem;
      }
    }
    img {
      width: 100%;
      max-width: 40px;
      height: auto;
      @media screen and (max-width: 400px) {
        max-width: 25px;
      }
    }
  }
}
