.settings__colors {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  @media screen and (max-width: 700px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 7.5px;
  width: 100%;
  #hex-color-picker.react-colorful {
    border: 2px solid $color-dark;
    border-radius: 4px;
    height: 100px;
    max-width: 400px;
    width: 100%;
    & > * {
      border-radius: 0;
    }
  }
}
