.header {
  border-bottom: 2px solid $color-dark;
  display: flex;
  justify-content: space-between;
  &__logo {
    max-width: 300px;
    width: 100%;
    @media screen and (max-width: 450px) {
      max-width: 200px;
    }
  }
}

.header__links {
  display: flex;
  align-items: center;
  &-link {
    align-items: center;
    background: none;
    border-radius: 4px;
    border: 2px solid $color-dark;
    color: $color-darker;
    display: flex;
    padding: 9px;
    text-decoration: none;
    transition: 0.3s;
    @media screen and (max-width: 450px) {
      border: none;
    }
    &:hover {
      background: $color-blue;
      box-shadow: 4px 4px 0 $color-dark;
      transform: scale(1.05);
    }
    &--span {
      font-weight: 800;
      margin: 0 10px;
      text-transform: uppercase;
      @media screen and (max-width: 450px) {
        display: none;
      }
    }
    &--icon {
      width: 35px;
      & svg {
        fill: $color-blue;
      }
    }
  }
}
