.info-pane {
  border-bottom: 2px solid $color-dark;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 15px 0;
  padding-bottom: 15px;
  align-self: center;
}
.clicked {
  background-color: $color-blue;
  box-shadow: 2px 2px 0 $color-dark;
}
.info-pane__button {
  background: $color-blue;
  margin-left: auto;
  align-self: center;
  padding: 0 7px;
  border: 2px solid $color-dark;
  border-radius: 50%;
  transition: 0.3s;
  &:hover {
    box-shadow: 2px 2px 0 $color-dark;
    transform: rotate(0.08turn) scale(1.2);
  }
  &-text {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 800;
  }
}

.info-pane__panel {
  display: none;
  line-height: 1.7;
  padding: 5px 0;
  transition: 0.3s;
  &-text {
    font-size: 20px;
    margin: 10px auto;
    max-width: 65ch;
    text-align: justify;
    @media screen and (max-width: 400px) {
      font-size: 16px;
    }
  }
  &-button {
    border: 2px solid $color-dark;
    border-radius: 4px;
    background: none;
    color: $color-darker;
    font-weight: bolder;
    padding: 5px;
    transition: 0.3s;
    &:hover {
      background: $color-blue;
      box-shadow: 4px 4px 0 $color-dark;
    }
  }
}
