.settings {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  &__label {
    font-weight: 800;
    margin-right: 10px;
    padding: 5px;
    font-size: 1rem;
  }
  &__ratio {
    margin: 0.25rem 0;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    &-select {
      border: 2px solid $color-dark;
      color: $color-darker;
      font-weight: bold;
      padding: 5px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        transition: 0.3s;
        background: $color-blue;
        box-shadow: 4px 4px 0 $color-dark;
      }
    }
    select:focus {
      color: $color-darker;
      background: $color-blue;
      outline: none;
    }
    select option:disabled {
      color: $color-blue;
      background-color: $color-darker;
      text-transform: uppercase;
    }
  }
  &__base {
    margin: 0.25rem 0;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    &-input {
      border: 2px solid $color-dark;
      color: $color-darker;
      cursor: pointer;
      border-radius: 4px;
      font-weight: bold;
      padding: 5px;
      &:hover {
        transition: 0.3s;
        background: $color-blue;
        box-shadow: 4px 4px 0 $color-dark;
      }
    }
    input[type='number']:focus {
      color: $color-darker;
      background: $color-blue;
      outline: none;
    }
  }
  &__scale {
    margin: 0.25rem 0;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    &-label {
      font-weight: 800;
      margin-right: 10px;
      font-size: 1rem;
      padding: 5px;
      width: 100px;
    }
    &-input {
      border: 2px solid $color-dark;
      color: $color-darker;
      cursor: pointer;
      padding: 5px;
      font-weight: bold;
      border-radius: 4px;
      &:hover {
        transition: 0.3s;
        background: $color-blue;
        box-shadow: 4px 4px 0 $color-dark;
      }
    }
    input[type='number']:focus {
      background: $color-blue;
      color: $color-darker;
      outline: none;
    }
  }
  @media screen and (max-width: 400px) {
    display: block;
  }
}

.settings-hide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 0;
  cursor: pointer;
  &-text {
    display: block;
    padding: 0 0.5rem;
    transition: 0.3s;
  }
  &-button {
    display: none;
    display: block;
    font-size: 1.5rem;
    background: #8bbbff;
    // margin-top: 15px;
    align-self: center;
    padding: 0 6px;
    border: 2px solid #444444;
    border-radius: 50%;
    transition: 0.3s;
    &:hover {
      box-shadow: 2px 2px 0 #444444;
      transform: scale(1.05);
    }
  }
}

.rotate-hide {
  display: block;
  animation: 0.1s linear hide;
  transform: rotate(90deg);
}

.rotate-show {
  display: block;
  animation: 0.1s linear show;
  transform: rotate(0deg);
}

.hide {
  display: none;
}

@keyframes hide {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes show {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
